<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Tolgahan Bora</title>
  </head>
  <body>
      <!-- Nav Menu Start -->
    <div class="container">
      <div class="row">
        <div class="col">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">
          <a href="/" class="d-flex align-items-center  me-md-auto text-dark text-decoration-none">
            <img id="logo" src="pics/Tolgahan2.png">
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#myworks" class="nav-link"><b>Works</b></a></li>
            <li class="nav-item"><a href="#about-me" class="nav-link"><b>About Me</b></a></li>
            <li class="nav-item"><a href="#formContainer" class="nav-link"><b>Contact</b></a></li>
          </ul>
        </header>
      </div>
    </div>
  </div>
      <!-- First Intro Message - Whatsapp Button -->
      <div class="container">
        <div class="row  my-5">
          <div class="col my-5" id="introText" >
            <h1>Hello, I am <span>Tolgahan Bora</span></h1>
            <h1>A Full Stack Web Developer</h1>
            <p id="introText" class="my-5">I Full stack web developing for over 1 years. I  all-around developer who can work on both the client-side and server-side of a web application.</p>
            <button onclick="window.location.href = 'https://wa.me/905523426102'" class="buton rounded-1 border border-0 my-5"><b id="button">Let's talk<img id="whatsapp"src="pics/whatsapp.png"> </b></button ><a class="btn btn white border border-0 mx-4 " href="https://drive.google.com/file/d/1nMNZseDaWwNRkXTnKlAPB3tZodeN7WP3/view?usp=sharing"><b id="cv2">My cv</b> <img class="mx-1 " id="cv" src="pics/up-right.png"></a>
              <ul class=" justify-content-start list-unstyled d-flex mt-5"><b id="SocialMedia">Check out my</b>
   
                <li class="ms-3 footerIcon " ><a href="https://github.com/tolgahanbora"><img class="github"src="pics/github.png" id="github2"/></a></li>
                <li class="ms-3 footerIcon" ><a href="https://www.linkedin.com/in/tolgahan-bora/"><img class="linkedin" src="pics/linkedin.png"/></a></li>
                <li class="ms-3 footerIcon"><a href="https://www.instagram.com/tolgahanbr/"><img  class="instagram" src="pics/instagram.png" ></a></li>
                <li class="ms-3 footerIcon"><a href="https://medium.com/@tolgahanbora"><img  class="instagram" src="pics/medium.png" ></a></li>
                <li class="ms-3 footerIcon"><a href="mailto:tolgahanbora@outlook.com"><img  class="mail" src="pics/mail.png" ></a></li>
              </ul>
            </div>
          <div class="col  " >

            <img id="firstMemoji1"  src="pics/memoji1.png">
          </div>
        </div>
      </div>
      <!-- My works Cards -->
      <div class="container" >
        <div class="row ">
          <div class="col">
            <h2 class="my-5"id="ProjectH2">My Works</h2>
            <p>As a full stack developer, I have designed both front-end and back-end projects. I used MongoDB as the database.</p>
          <div class="row">
            <div class="col-4">
      
            <div class="card   rounded-3 m-4" id="cardWorks">
              <img src="pics/dating.PNG" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title"><b class="project2">Dating App</b></h5>
                <p class="card-text">An online video chat application with user login and registration integration, and active payment integration. There are also games available on the camera screen, such as asking questions.</p>
                <p class="text-center">Tech stack: Bootstrap,React,Javascript</p>
              </div>
              <div class="card-body rounded-3 ">
                <a href="https://lively-platypus-b83a96.netlify.app/" class="card-link" id="projeLink"><img id="cardLink"src="pics/link.png">Link Preview</a>
                <a href="https://github.com/tolgahanbora/Dating-App" class="card-link"id="githubCode"><img id="githubCard"src="pics/github.png">View Code</a>
              </div>
            </div> 
                 
          </div>
          <div class="col-4">
      
            <div class="card   rounded-3 m-4" id="cardWorks2">
              <img src="pics/NFTmarket.PNG" class="card-img-top" id="nft" alt="...">
              <div class="card-body ">
                <h5 class="card-title"><b class="project2">NFT Marketplace</b></h5>
                <p class="card-text">An NFT e-commerce site with user login and registration integration and functions such as listing and selling NFTs, with a connection to Metamask.</p>
               
               </div>
               <p class="techStack text-center">Tech stack: Bootstrap,React,Javascript</p>
              <div class="card-body rounded-3 " id="denemasd">
                <a href="https://magenta-daifuku-98e22a.netlify.app/" class="card-link" id="projeLink"><img id="cardLink"src="pics/link.png">Link Preview</a>
                <a href="https://github.com/tolgahanbora/Nft-Marketplace" class="card-link"id="githubCode"><img id="githubCard"src="pics/github.png">View Code</a>
              </div>
            </div> 
                 
          </div>
          <div class="col-4">
      
            <div class="card   rounded-3 m-4" id="cardWorks3">
              <img src="pics/smartdeu.PNG" class="card-img-top" id="smart" alt="...">
              <div class="card-body ">
                <h5 class="card-title"><b class="project2">Smart Edu</b></h5>
                <p class="card-text">A smart course site with functions such as user login and registration, creating courses, creating categories, and an admin panel.</p>
                <br>
                <p class="text-center">Tech stack: HTML5,Node.js,Express</p>
              </div>
           
              <div class="card-body rounded-3 my-1">
                
                <a href="https://html.design/demo/smartEDU/course-grid-3.html?" class="card-link" id="projeLink"><img id="cardLink"src="pics/link.png">Link Preview</a>
                <a href="https://github.com/tolgahanbora/SmartEdu" class="card-link"id="githubCode"><img id="githubCard"src="pics/github.png">View Code</a>
              </div>
            </div> 
                 
          </div>
        </div>
          </div>
        </div>
      </div>
      <!-- About Me and Certificates-->
      <div class="container" id="about-me">
        <div class="row">
          <div class="col my-5">
          <h2 class="my-5" id="AboutH2">About Me</h2>
          <p>My full name is <span>Tolgahan Bora</span></p>
          <p class="aboutmeText">Full Stack Web Developer. I have front-end and backend experience. I have completed 3 semesters of internship in these fields, and I have completed my front-end certificated with Meta.
            I am currently actively continuing to develop myself in the field of devops and backend.
            </p>
          <p class="aboutmeText">
            I'm a full-time developer and part-time semi-pro athlete. I also care about my mental health. I am an idealist and I do my projects with the agile and kanban development principle.</p>
          <p><span>I am looking for opportunities where I can improve myself while adding added value to the company.</span></p>
        </div>
        <div class="col">
          <img  src="pics/memoji2.png" id="memoji2">
        </div>
      </div>
      <div class="row">
        <h2 class="certificatedh2">Certificates</h2>
        <div class="col my-5">
          <div class="card certificateCard2"  id="certificateCard1"> 
           <h5  class="certificatedh5  my-3" >  <span class="certificated"> Introduction to Front-End Development  @  <b class="meta" id="meta1">  Meta</b></span><span class="date" id="date1">2022</span></h5>
            <a href="https://www.coursera.org/account/accomplishments/certificate/P8U5BHRFUS4V" class="card-link " id="certificatedP">Show your verifed certificate</a>
            </div> 
        </div>
        <div class="row">
        <div class="col">
          <div class="card certificateCard" id="certificateCard2">
            <h5 class=" certificatedh5 my-3" id="certificateCard2H5"><span class="certificated"> Building Modern Node.js Applications on AWS     <b class="meta" id="amazon">@ Amazon Web Services</b></span><span class="date" id="date2">2023</span></h5>
            <a href="https://www.coursera.org/account/accomplishments/certificate/FAW56V8HQUST" class="card-link " id="certificatedP">Show your verifed certificate</a>
            </div> 
        </div>
      </div>
      </div>
      
      </div>
     <!-- Services and Provide -->
      <div class="container">
        <div class="row">
          <div class="col my-5">
            <h2 class="my-5" id="skillsH2">Services | Provide</h2>
            <p>I am familiar with Front-end, Back-end and Devops technologies. The area where I have the least experience is Devops. </p>
            </div>
            
            <div class="row mx-4">
              <div class="col">
              <div class="card skills align-items-center" >
                <img id="frontend" src="pics/frontend.png">
                <h4 class="skillsTitle text-center front-end">Front-end Development</h4>
                
                <p class="text-center skillText p-1 my-1">I can create the pre-skeleton with basic HTML5 and CSS3,Bootstrap,Tailwind. React if only part of the page is to be rendered with instant notifications(such as social media notifications).i am developing with js. I use redux to make data management easier.</p>
              </div>
            </div>
            <div class="col">
              <div class="card skills align-items-center"  id="backend">
                <img id="nodejs"src="pics/backend.png" >
                <h4 class="skillsTitle text-center">Back-end Development</h4>
                <p class="text-center skillText p-2 my-3">I can develop a backend with node. js .I am using Express.js framework. When there is a project related to big data, I can provide NOSQL database connection such as MongoDB.</p>
              </div>
            </div>
            <div class="col">
              <div class="card skills align-items-center" id="devopsCard" >
                <img id="server" src="pics/server.png">
                <h4 class="skillsTitle text-center ">Devops</h4>
                <p class="text-center skillText p-2 my-4">I can do tests with Docker, upload an image or create a Dockerfile. I can take the project to a live environment with AWS,Heroku or Netlifly.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

     <!--  Tools and Technologies -->
      <div class="container">
        <div class="row">
          <div class="col my-5">
            <h2 id="toolsH2" class="my-5">Tools and technologies that I use</h2>
            <p>The technologies I have and have developed myself are as follows;</p>
          </div>
          <div class="row">
          <div class="col">
            <div class="card tools">
              <img id="html" src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/48/null/external-html-5-is-a-software-solution-stack-that-defines-the-properties-and-behaviors-of-web-page-logo-shadow-tal-revivo.png">
              <h6 class="text-center">HTML5</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="CSS"src="https://img.icons8.com/color/48/null/css3.png">
            <h6 class="text-center">CSS3</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="javascript"src="https://img.icons8.com/color/48/null/javascript--v1.png">
              <h6  class="text-center">Javascript</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="typescript"src="https://img.icons8.com/color/48/null/typescript.png">
            <h6 class="text-center">Typescript</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="react" src="https://img.icons8.com/office/40/null/react.png">
            <h6 class="text-center" >React</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="bootstrap"src="https://img.icons8.com/color/48/null/bootstrap.png"">
            <h6 class="text-center">Bootstrap</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="redux"src="https://img.icons8.com/color/48/null/redux.png">
            <h6 class="text-center">Redux</h6>
            </div>   
          </div>
        </div>
          <div class="row my-5">
          <div class="col">
            <div class="card tools">
              <img id="tailwind" src="https://img.icons8.com/color/48/null/tailwindcss.png">
            <h6 class="text-center">Tailwind</h6>
            </div>
          </div>
          <div class="col">
            <div class="card tools">
              <img id="backendnode"src="https://img.icons8.com/color/48/null/nodejs.png"">
            <h6 class="text-center">Node.js</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="express"src="https://img.icons8.com/nolan/64/express-js.png">
            <h6 class="text-center">Express.js</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="SQL"src="https://img.icons8.com/arcade/64/null/sql.png">
            <h6 class="text-center">SQL</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="mongodb" src="https://img.icons8.com/color/48/null/mongodb.png"">
            <h6 class="text-center">MongoDB</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="aws" src="https://img.icons8.com/color/48/000000/amazon-web-services.png">
            <h6 class="text-center">AWS</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="docker" src="https://img.icons8.com/fluency/48/null/docker.png"">
            <h6 class="text-center">Docker</h6>
            </div>   
          </div>
          <div class="col">
            <div class="card tools">
              <img id="git" src="https://img.icons8.com/color/48/null/git.png">
            <h6 class="text-center">GIT</h6>
            </div>   
          </div>
        </div>
        
      </div>
      </div>

     <!-- Experience Card -->
      <div class="container">
        <div class="row">
          <div class="col my-5">
            <h2 class="my-5" id="experienceH2">Experience</h2>
            <p>After my compulsory internship at school, I started working as a freelancer. My freelancer work process is ongoing. Bootstrap,Html5,Css and Javascript were used</p>
          </div>
        </div>
      <div class="row my-4">
        <div class="col">
          <div class="card experience">
          <h5 class="text-center experienceH5 my-3"><span class="experiencespan">Front-end Developer Intern @ <b class="experienceB">Istanbul Aydin University</b></span></h5>
          <h7 class="text-center experienceH7">October 2021 - December 2021</h7>
          <p class="text-center experienceP">Within the teamwork new page design and debugging purposes do development.</p>
          </div> 
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
          <div class="card experience" id="experience2">
          <h5 class="text-center experienceH5 my-3"><span class="experiencespan">Full Stack Developer @ <b class="experienceB">Upwork - R10.net</b></span></h5>
          <h7 class="text-center experienceH7">December 2022 - Present</h7>
          <p class="text-center experienceP">As a full stack developer, I am working on various projects over the Freelancer Platform. I am taking part in the project and using all the languages I know.</p>
          </div> 
        </div>
      </div>

      </div>

        <!-- Medium Article -->
        <div class="container">
          <div class="row">
            <div class="col my-5">
              <h2 class="my-5" id="skillsH2">Medium Articles</h2>
              <p>I share my own experience and knowledge on medium as an article in a technical and understandable way. I usually write articles on design patterns and methodologies. </p>
              </div>
              
              <div class="row mx-4">
                <div class="col">
                <div class="card skills align-items-center" >
                  <img id="agile" src="https://www.krasamo.com/wp-content/uploads/agile-01-scaled.jpeg">
                  <h4 id="AgileH4" class=" text-center front-end">Agile Development for Science</h4>
                  <p class="text-center skillText p-1 my-1">I tried to explain my knowledge and experience about agile development in a way that everyone can understand according to my own way of telling, and I talked about its importance in real life..</p>
                  <a href="https://tolgahanbora.medium.com/agile-development-from-a-scientific-point-of-view-84489002e450" class="card-link" id="projeLink"><img id="cardLink"src="pics/link.png">Link Preview</a>
                </div>
              </div>
              <div class="col">
                <div class="card skills align-items-center"  id="backend">
                  <img id="MVC"src="https://miro.medium.com/max/1200/1*hTlpGXMh9EFefBIT9NrTDQ.png" >
                  <h4 id="MVCh4" class=" text-center">What is the MVC Pattern</h4>
                  <p class="text-center skillText p-2 my-3">I explained why I use this design pattern, which I use frequently in my projects, and the mistakes I often make when using it.</p>
                  <a href="https://tolgahanbora.medium.com/what-is-the-mvc-pattern-edbf0d2af9f6" class="card-link" id="projeLink"><img id="cardLink"src="pics/link.png">Link Preview</a>
              </div>
              </div>
              <div class="col">
                <div class="card skills align-items-center" id="devopsCard" >
                  <img id="Communication" src="https://miro.medium.com/max/1400/0*uHUI0lyn04AHnj7D.jpg">
                  <h4 id="CommunicationH4" class=" text-center ">Importance of Communication for Developers</h4>
                  <p class="text-center skillText p-2 ">a programmer also explained why communication should be a very important skill. I mentioned the problems that can be experienced as a result of bad communication.</p>
                  <a href="https://tolgahanbora.medium.com/the-importance-of-communication-for-developers-e6708563e190" class="card-link " id="projeLink2"><img id="cardLink"src="pics/link.png">Link Preview</a>
                </div>
              </div>
            </div>
          </div>
        </div>




     <!-- Form Layer - Form Layer -->
      <div class="container" id="formContainer">
        <div class="row">
        
          <div class="col">
            <h2 id="contactH2">Contact Me</h2>
            <p class="my-4">If you want to say anything to me, feel free to contact me on the form below</p>
          </div>
          <div class="row my-5">
            <div class="col-md-6">
        <form action="https://formsubmit.co/tolgahanbora@outlook.com.tr" method="POST">
          <input type="hidden" name="_captcha" value="false">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" required> 
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea  class="form-control" name="message" id="exampleFormControlTextarea1" rows="3" required></textarea>
          </div>
          <button type="submit" class="buton rounded-1 border border-0 my-5"><b id="button">SUMBIT</b></button >
          </form>
      </div>
      <div class="col">
        <img src="pics/memoji3.png" id="memojiContact">
      </div>
    </div>
         
        </div>
      </div>

    <!-- Footer - Footer - Footer -->
      <div class="container"  id="containerfooter">
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>Designed and Developed by <span>Tolgahan Bora</span> © 2021 , Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3 footerIcon"><a  href="https://github.com/tolgahanbora"><img class="githubFooter"src="pics/github.png"/></a></li>
          <li class="ms-3 footerIcon"><a  href="https://www.linkedin.com/in/tolgahan-bora/"><img class="linkedinFooter" src="pics/linkedin.png"/></a></li>
          <li class="ms-3 footerIcon"><a  href="https://www.instagram.com/tolgahanbr/"><img  class="instagramFooter" src="pics/instagram.png" ></a></li>
          <li class="ms-3 footerIcon"><a href="https://medium.com/@tolgahanbora"><img  class="medium" src="pics/medium.png" ></a></li>
          <li class="ms-3 footerIcon"><a href="mailto:tolgahanbora@outlook.com"><img  class="mailFooter" src="pics/mail.png" ></a></li>
        </ul>
      </div>
    </div>
    

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>